body{
    display: flex;
    overflow: hidden;
    position: absolute;
    width: 100%;
    justify-content: center; 
    align-items: center; 
    font-family: "SUSE", sans-serif;
}

#calculatorLayout{
    margin-top: 100px;
}

#container{
    border: 10px solid #2f2f2f;
    border-radius: 10px;
}

#resultContainer{
    background-color: #b2b9b7;
    width: 400px;
    text-align: right;
    border-bottom: 2px solid #2f2f2f;
}

#previousOperand{
    overflow: hidden;
    width: 390px;
    height: 50px;
    padding: 15px 0px 0px 15px;;
    text-align: left;
    font-size: 1.5em;
}

#result{
    padding: 15px;
    font-size: 2em;
    overflow: hidden;
}

#buttons{
    width: 400px;
    display:flex;
    flex-wrap: wrap;
}

button{
    flex: 1 25%;
    padding: 20px;
    font-size: 2em;
    border: 2px solid black;
    cursor: pointer;
}

.utility{
    background-color: #00ffff;
}

.utility:hover{
    background-color: #378888;
}

.number{
    background-color: #60F0B9;
}

.number:hover{
    background-color: #4f8a73;
}

.numberPressed{
    background-color: #465F56;
}

.symbol, #equals{
    background-color: #F07960;
}

.symbol:hover, #equals:hover{
    background-color: #6d3125;
}
